<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- MODULE 11: Creating MVC Applications -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 28/02/2023 -->

<!-- SUCCESS VIEW -->

<h2>Success</h2>

