<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- MODULE 11: Creating MVC Applications -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 25/02/2023 -->

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    100 York Boulevard, Suite 400<br />
    Richmond Hill, ON, L4B1J8<br />
    <abbr title="Phone">P:</abbr>
    855.996.9977
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<small>
    Contact Information last updated: @DateTime.Now
</small>