<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- MODULE 11: Creating MVC Applications -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 25/02/2023 -->

@using StudentMVC.Models
@model List<Instructor>

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

@{ 
    foreach(Instructor instructor in Model)
            {
                <h4>@instructor.FirstName</h4>
            }
}

