<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- MODULE 12: ASP.NET MVC Entity Framework Assignment -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 11/03/2023 -->

<!-- SUCCESS VIEW -->
@{
    ViewBag.Title = "Success";
}

<body class="adminview">

    <!-- Inform the user that the quote has been successfully generated and sent to their email -->
    <h2>Success</h2>
    <p>Your quote will be emailed to the address your provided.</p>

    <!-- Link so the user can return to the home page -->
    <div>
        @Html.ActionLink("Return to Title Page", "Index", "Home")
    </div>
</body>

